    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Cinzel:wght@400..900&display=swap');


    .accueil{
        display: flex;
        flex-direction: column;
    }
    .cover img{
        position: absolute;
        width: 100%;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .cover-text{
        height: 93vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.277);
    }

    .cover-text h2{
        font-size: 50px;
        height: 10vh;
        color: white;
        font-family: "Cinzel", serif;
    }

    .cover-text h3{
        font-size: 25px;
        height: 35vh;
        color: white;
        font-family: "Cinzel", serif;
    }


    .presentation{
        padding: 3%;
        display: flex;
        align-items: center ;
        justify-content: space-between;
    }
    .presentation img{
        width: 50%;
        height: 30%;
    }
    .presentation-text{
        display: flex;
        width: 45%;
        flex-direction: column;
        font-family: "Cinzel", serif;
    }
    .presentation-text h3{
        font-family: "Cinzel", serif;
    }


    @media (max-width: 768px) {
    
        .cover img {
            height: 35vh; /* Adapte la taille de la cover de la page */
        }
    
        .cover-text {
            height: 19vh; /* Ajuste la hauteur du Titre pour les écrans mobiles */
        }
    
        .cover-text h2 {
            font-size: 30px; /* Réduit la taille du titre du titre principal */
        }
    
        .cover-text h3 {
            font-size: 16px; /* Réduit la taille du sous-titre principal */
        }
    
        .presentation {
            padding: 5%; /* Ajout d'un espace interieur autour de tout les blocs "présentation" */
        }
    
        .presentation img {
            width: 100%; /* Les images prennent toute la largeur du telephone */
            order: 2;
        }
    
        .presentation-text {
            width: 100%; /* Les textes prennentd toute la largeur du telephone */
            order: 1;
        }
    
        .presentation-text h3 {
            font-size: 20px; /* Taille du texte de la 3eme image */
        }
    }