/* Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.chambres {
  font-family: "Cinzel", serif;
}

/* En-tête */
.chambres-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.chambres-header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.header-text {
  padding: 0 20px;
}

.header-text h1 {
  font-size: 3rem;
  margin: 0;
}

.header-text p {
  font-size: 1.5rem;
  margin: 10px 0 0;
}

/* Section des chambres */
.rooms-section {
  padding: 30px 20px;
}

.room-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.room-card:hover {
  transform: scale(1.05);
}

.room-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.room-type {
  font-size: 1.5rem;
  margin: 10px 0;
}

.room-description {
  color: #555;
  font-size: 1rem;
  margin: 0;
}

/* Adaptation mobile */
@media (max-width: 768px) {
  .chambres-header {
    height: 15vh; /* Réduction de la hauteur de l'en-tête */
  }

  .chambres-header img {
    height: 38vh; /* Réduction de la hauteur de l'image de couverture */
  }

  .header-text h1 {
    font-size: 150%; /* Réduction de la taille du titre */
  }

  .header-text p {
    font-size: 1.2rem; /* Réduction de la taille du sous-titre */
  }

  .rooms-section {
    padding: 30px 10px; /* Réduction de l'espacement autour de la section */
  }

  .rooms-container {
    gap: 35px; /* Réduction de l'écart entre les cartes */
  }

  .room-card {
    padding: 10px; /* Réduction du padding dans les cartes */
  }
.room-image {
  width: 100%;
  height: auto; /* Maintient le ratio de l'image */
  object-fit: cover; /* Couvre tout l'espace disponible sans distorsion */
  margin-bottom: 10px;
}

  .room-type {
    font-size: 1.3rem; /* Réduction de la taille du titre du type de chambre */
  }

  .room-description {
    font-size: 0.9rem; /* Réduction de la taille du texte descriptif */
  }
}
