@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Cinzel:wght@400..900&display=swap');


.chambres {
    font-family: "Cinzel", serif;  
    padding: 20px;
  }
  
  .chambres-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    margin-bottom: 5%;
    text-align: center;
  }
  .chambres-header img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .chambres-header h1 {
    font-size: 2.5rem;
    color: #ffffff;
  }
  
  .chambres-header p {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
  
  .room-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .room-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .room-card:hover {
    transform: scale(1.05); 
  }
  

  .room-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .room-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
    color: white;
    padding: 20px;
    text-align: center;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  

  .room-card:hover .room-info {
    opacity: 1;
    visibility: visible; 
  }
  

  .room-type {
    font-size: 1.5rem;
    color: #fff; 
    margin-bottom: 10px;
  }
  
 
  .room-description {
    font-size: 1rem;
    color: #ddd; 
    margin: 0;
    display: flex;
    text-align: center;
    
    
  }
  