@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Cinzel:wght@400..900&display=swap');

/* Global Styling */

.spa {
    font-family: 'Cinzel', sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  .spa-header {
    text-align: center;
    color: white;
    height: 81vh;
  }

  .spa-header img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  
  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .header-text h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .header-text p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  /* Section About Spa */
  .about-spa {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
  }
  
  .presentation {
    display: flex;
    flex-wrap: wrap;
  }
  
  .presentation-image {
    flex: 1;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .presentation-text {
    flex: 1;
    padding: 20px;
  }
  
  .presentation-text h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  /* Section Services */
  .spa-services {
    padding: 20px;
    text-align: center;
  }
  
  .spa-services h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .service-item {
    flex: 1;
    max-width: 300px;
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .service-item:hover {
    transform: translateY(-5px);
  }
  
  .service-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .service-item h3 {
    margin: 15px;
    font-size: 1.5rem;
  }
  
  .service-item p {
    margin: 15px;
    color: #666;
  }
  