@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Cinzel:wght@400..900&display=swap');


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: white;
    background-color: rgba(0, 0, 0, 0.269);
    font-family: "Cinzel", serif;   
}

nav{
    width: 65%;
}

nav ul{
    display: flex;
    justify-content: space-between;

}
nav ul a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}

header img{
    width: 7%;
}