@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Cinzel:wght@400..900&display=swap');


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: white;
    background-color: rgba(0, 0, 0, 0.415);
    font-family: "Cinzel", serif;   
}

header a{
    text-decoration: none;
    color: white    ;
}

nav{
    width: 65%;
}

nav ul{
    display: flex;
    justify-content: space-between;

}
nav ul a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 500;
}

header img{
    width: 7%;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.logo h3{
    font-size: 20px;
}