@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Cinzel:wght@400..900&display=swap');


footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    background-color: black ;
    color: white;
    font-family: "Cinzel", serif;  
}
.footer-link{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
}
.footer-link a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 500;
}
.footer-logo img{
    width: 50%;
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.footer-info h3{
    font-size: 15px;
    font-weight: 500;
}